{% include "base.html" %}

<h1>TIC TAC TOE</h1>

<h3>Game {{game_id}}</h3>

<h3>Player X: {{player_x}}</h3>
<h3>Player O: {{player_o}}</h3>

<div class="board">
{% for i in range(1,10) %}
    {% if i in x_positions %}
        {% set sign = "X" %}
    {% elif i in o_positions %}
        {% set sign = "O" %}
    {% else %}
        {% set sign = i %}
    {% endif %}
    <div data-cell-index={{i}} class="cell">
        <form method="post">
            <input type="submit" name="position" value="{{sign}}">
        </form>
    </div>
{% endfor %}
</div>
